.container {
  height: calc(100vh - 50px) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content :center;

}
.title {
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  top: 150px;
  color:lightgray
}
.wrapper {
  width: 60%;
  height: 75%;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  display: flex;
  align-items: center;
  justify-content :space-around; 
  border-radius: 20px;
 
  
}
.left .right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.line {
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:  auto;
  
}
.or {
  border: 2px solid lightgray;
  border-radius: 50%;
  padding:10px;
  background-color: #fff;
  color: grey;
  font-weight: bold;
  z-index: 10;

}
.loginBtn {
  width: 150px ;
  padding: 15px 25px;
  border-radius: 5px;
  color:white;
  display: flex ;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  
}
.google{
  background-color: #df4930;
}
.facebook{
  background-color: #507cc0;
}
.github{
  background-color: black;
}
.icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.form {
  display: flex;
  flex-direction: column
}
input{
  width: 200px;
  border:1px solid lightgrey;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.btn {
  width: 200px;
  background-color: rgba(128, 0, 128, 0.671);
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 5px;
}