.container {
  height: 100vh;
  display: flex;
  align-items : center;
  
}
.left ,.right{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content : center;
  padding: 0 50px;

}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.desc {

  width: 80%;
  font-weight: 400;
  font-size: 18px;
  line-height:1.5em;
  color:black
}
.list {

  display: flex;
  flex-wrap: wrap;
}
.skill {
  width: 60px;
  height: 60px;
  
}

@media screen  and (max-width: 960px) {
  .container {
    height:50vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .left , .right {
    align-items: center;
  }
 
}