.container {
  height: 100vh;
  display: flex;
  align-items : center;
  
}
.left {
  flex: 1;
  display: flex;
  align-items : center;
  justify-content : center;
  position: relative;
  
  height: 100%;
}
.right {
  flex: 1;
}
.card,.bg {
  position:absolute;
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bg {
  padding: absolute;
  top: 50px;
  left: 50px;
  background-color: #333;

}
.right {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.title {
  font-size: 40px;
  font-weight: bold;
}
.subtitle {
  margin: 20px 0;
  font-size: 20px;
}
.desc {
  font-weight: 300;
}
.award {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.awardImg {
  height: 120px;
  width: 120px;
  border-radius: 20px;
}
.awardTexts {
  width: 70%;
}
.awardTitle{
  font-weight: bold;
  margin-bottom: 20px;
}
