.container {
  
  display : flex;
  height:100vh;
}
.right {
  flex: 1;
  /* padding:10vh 10vw; */
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content : center;
}
.left {
  flex: 1;
  position: relative;
}
.greeting {
  
  font-size: 30px;
}
.name {
  padding: 10px;
  font-size: 60px;
  font-weight: bold;
}
.myTitle {
  height: 50px;
  overflow: hidden;
}
.titleWrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite ;
}
.titleItem {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: orange;
  display:flex;
  align-items: center;
}

@keyframes move {
  33%{
    transform: translateY(-50px);
  }
  66%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(-150px);
  }
  
}
.desc {
  width: 38%;
  font-size: 20px;
  padding: 20px 0;
}


.meBg{
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 49%, 0% 0%);
  background-color: orange;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.me {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
  z-index: 999;
 
  
}