.container {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid orange;
  background-color:white;
  /* position: fixed;
  top: 10px;
  right: 10px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
}
.icon {
  width: 15px; 
  height:15px;
  cursor: pointer;
}
.btn {
  width: 25px;
  height: 25px;
  border-radius:50%;
  border: 1px solid white;
  background-color: orange;
  position:absolute;
  
}