@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {

.clip-bg-style {

  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 49%, 0% 0%);
  background-color: orange;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

}

}